.footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        background: $footer_color;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 905px;
        min-height: 45px;

        & a {
            font-size: 28px;
            line-height: 45px;
            font-weight: 500;
            color: $textcolor;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}