.footer-content {

    & h2 {
        margin-top: 40px;
        margin-left: 10px;

        &:nth-child(3) {
            margin-top: 10px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        max-height: 248px;
        margin: 40px 25px;
        gap: 20px;
        background: $cart_bgcolor;
        border-radius: 30px;
        padding: 0 25px;
    }

    &__item {
        width: 198px;
        background: $cart_itemcolor;
        border-radius: 35px;
        border: 2px solid $cart_item_bordercolor;
        padding-top: 18%;
        margin: 30px 0;

        &:hover {
            box-shadow: 2px 5px 10px #497957;
            transition: all .3s ease-in-out;
        }
    }

    & .button {
        width: 222px;
        margin: 0 auto;
        margin-top: -15px;
    }
}